[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git@github.com:thinca/vim-localrc
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git@github.com:xolox/vim-session
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = git@github.com:flowtype/vim-flow
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = git@github.com:mitermayer/vim-prettier
[submodule "bundle/bufexplorer.vim"]
	path = bundle/bufexplorer.vim
	url = git@github.com:jlanzarotta/bufexplorer
[submodule "bundle/instant-markdown-d"]
	path = bundle/instant-markdown-d
	url = git@github.com:suan/vim-instant-markdown
[submodule "bundle/taboo"]
	path = bundle/taboo
	url = git@github.com:gcmt/taboo.vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "bundle/ctrlsf"]
	path = bundle/ctrlsf
	url = git@github.com:dyng/ctrlsf.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go
[submodule "bundle/coc"]
	path = bundle/coc
	url = git@github.com:neoclide/coc.nvim
	branch = release
[submodule "bundle/codeium"]
	path = bundle/codeium
	url = git@github.com:Exafunction/codeium.vim.git
[submodule "bundle/vim-peekaboo"]
	path = bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/presenting"]
	path = bundle/presenting
	url = https://github.com/sotte/presenting.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-rzip"]
	path = bundle/vim-rzip
	url = git@github.com:lbrayner/vim-rzip.git
