
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git@github.com:thinca/vim-localrc
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user
[submodule "bundle/textobj-gitgutter"]
	path = bundle/textobj-gitgutter
	url = git@github.com:gilligan/textobj-gitgutter
[submodule "bundle/git-nerdtree"]
	path = bundle/git-nerdtree
	url = git@github.com:Xuyuanp/git-nerdtree
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = git@github.com:vim-scripts/php.vim--Hodge
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "bundle/html5"]
	path = bundle/html5
	url = git@github.com:othree/html5.vim
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git@github.com:xolox/vim-session
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = git@github.com:flowtype/vim-flow
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = git@github.com:mitermayer/vim-prettier
[submodule "bundle/bufexplorer.vim"]
	path = bundle/bufexplorer.vim
	url = git@github.com:jlanzarotta/bufexplorer
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe
[submodule "bundle/typescript-tsuquyomi"]
	path = bundle/typescript-tsuquyomi
	url = git@github.com:Quramy/tsuquyomi
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git@github.com:moll/vim-node
[submodule "bundle/instant-markdown-d"]
	path = bundle/instant-markdown-d
	url = git@github.com:suan/vim-instant-markdown
[submodule "bundle/taboo"]
	path = bundle/taboo
	url = git@github.com:gcmt/taboo.vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "bundle/ctrlsf"]
	path = bundle/ctrlsf
	url = git@github.com:dyng/ctrlsf.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
